
<div class="jumbotron" id="list">
  <div class="col-lg-12">
    <h2>My Tasks List</h2>
    <h4>Last 7 tasks order by priority</h4>
    <% @tasks.each do |task| %>
    <div class="panel priority<%=task.priority%>">
     <% if task.completed %>
     <p class="stroke"><%= task.description %></p>
     <% else %>
     <p><%= task.description %></p>
     <% end %>
     <p class="date">Due on <%= task.due_date.strftime("%m-%d-%Y") %></p>
   </div>
   <% end %>
 </div>
</div>


<div class="panel" data-ng-controller="PriorityCtrl" id="collection">

  <h2> Get a list of tasks by priority</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-10">
        <input type="number" data-ng-model="priority" class="form-control" id="inputPriority" placeholder="Priority">
      </div>
      <div class="col-sm-10">
        <button class="btn btn-success" data-ng-click="getCollection();">Get it!</button>
      </div>
    </div>
  </form>

  <div data-ng-repeat="task in taskList"class="panel ">
   <p>{{task.description}}</p>
   <p class="date">Due on  {{task.due_date}}</p>
 </div>
</div>

<div class="panel" data-ng-controller="NewCtrl" id="new">
  <h2> Create a new task</h2>
  <form class="form-horizontal" role="form" name="newTask">
    <div class="form-group">
      <label for="inputDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" required id="inputDescription" placeholder="Description" data-ng-model="task.description">
      </div>
    </div>
    <div class="form-group">
      <label for="inputData" class="col-sm-2 control-label">Due Date</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="task.due_date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" close-text="Close" required/>

      </div>
    </div>
    <div class="form-group">
      <label for="inputData" class="col-sm-2 control-label">Priority</label>
      <div class="col-sm-10">
        <input type="number" data-ng-model="task.priority" class="form-control" id="inputPriority" placeholder="Priority" data-ng-required="true" required data-ui-event="{blur: 'sendForm($event)'}">
        
      </div>
    </div>
  </form>  
</div>